## import libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')

## Data Load

In [ ]:
df = pd.read_excel('Sales Dataset.xlsx')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
df.shape

(9994, 21)

In [ ]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9983 non-null   float64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

## Data Cleaning

<h3> Check Duplicates

In [ ]:
df.duplicated().sum()

np.int64(0)

<h3> Handle Missing Data

In [ ]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

Fill Null Values in Postal Code

In [ ]:
df['Postal Code'] = df.groupby('City')['Postal Code'].transform(lambda x: x.fillna(method='ffill'))

In [ ]:
df.isna().sum().sum()

np.int64(0)

<h3> Feature Engineering

In [ ]:
df['Order Month'] = df['Order Date'].dt.to_period('M')

In [ ]:
df['Order Month'][0]

Period('2017-11', 'M')

In [ ]:
df['Order_Year'] = df['Order Date'].dt.year

df['Order_Month'] = df['Order Date'].dt.month

df['Order_Day'] = df['Order Date'].dt.day

df['Order_DayOfWeek'] = df['Order Date'].dt.dayofweek

df['Shipping Duration'] = (df['Ship Date'] - df['Order Date']).dt.days

In [ ]:
df['Profit_Margin'] = df['Profit'] / df['Sales']

df['Discounted_Price'] = df['Sales'] * (1 - df['Discount'])

df['Sales_per_Quantity'] = df['Sales'] / df['Quantity']

df['Cumulative_Sales_Customer'] = df.groupby('Customer ID')['Sales'].cumsum()

df['Cumulative_Profit_Region'] = df.groupby('Region')['Profit'].cumsum()

## Data Exploration

In [ ]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Order_Year,Order_Month,Order_Day,Order_DayOfWeek,Shipping Duration,Profit_Margin,Discounted_Price,Sales_per_Quantity,Cumulative_Sales_Customer,Cumulative_Profit_Region
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2017-04-30 05:17:08.056834048,2017-05-04 04:17:20.304182528,55227.083350,229.858001,3.789574,0.156203,28.656896,2016.722233,7.809686,15.468381,2.987793,3.958475,0.120314,197.580421,60.919569,1886.273729,36306.226063
min,1.000000,2015-01-03 00:00:00,2015-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,2015.000000,1.000000,1.000000,0.000000,0.000000,-2.750000,0.088800,0.336000,1.080000,-2232.611600
25%,2499.250000,2016-05-23 00:00:00,2016-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750,2016.000000,5.000000,8.000000,1.000000,3.000000,0.075000,14.336000,5.470000,448.013000,12549.836075
50%,4997.500000,2017-06-26 00:00:00,2017-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500,2017.000000,9.000000,15.000000,3.000000,4.000000,0.270000,45.923200,16.270000,1243.019000,30651.743300
75%,7495.750000,2018-05-14 00:00:00,2018-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000,2018.000000,11.000000,23.000000,5.000000,5.000000,0.362500,180.176475,63.940000,2553.187000,54244.420200
max,9994.000000,2018-12-30 00:00:00,2019-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000,2018.000000,12.000000,31.000000,6.000000,7.000000,0.500000,17499.950000,3773.080000,25043.050000,108418.448900
std,2885.163629,NaN,NaN,32028.491225,623.245101,2.225110,0.206452,234.260108,1.123555,3.284654,8.748178,2.180270,1.747603,0.466754,539.045278,142.927440,2218.970462,28454.645288

In [ ]:
def ShowDetails() :
    global data
    for col in df.columns :
        print(f'for feature {col}')
        print(f'Number of Nulls is {df[col].isna().sum()}')
        print(f'Number of Unique Values {len(df[col].unique())}')
        print(f'First values of Unique {df[col].unique()[:]}')
        print('----------------------------------')

In [ ]:
ShowDetails()

for feature Row ID
Number of Nulls is 0
Number of Unique Values 9994
First values of Unique [   1    2    3 ... 9992 9993 9994]
----------------------------------
for feature Order ID
Number of Nulls is 0
Number of Unique Values 5009
First values of Unique ['CA-2017-152156' 'CA-2017-138688' 'US-2016-108966' ... 'CA-2015-110422'
 'CA-2018-121258' 'CA-2018-119914']
----------------------------------
for feature Order Date
Number of Nulls is 0
Number of Unique Values 1236
First values of Unique <DatetimeArray>
['2017-11-08 00:00:00', '2017-06-12 00:00:00', '2016-10-11 00:00:00',
 '2015-06-09 00:00:00', '2018-04-15 00:00:00', '2017-12-05 00:00:00',
 '2016-11-22 00:00:00', '2015-11-11 00:00:00', '2015-05-13 00:00:00',
 '2015-08-27 00:00:00',
 ...
 '2017-10-11 00:00:00', '2015-06-18 00:00:00', '2018-02-28 00:00:00',
 '2016-05-09 00:00:00', '2015-11-06 00:00:00', '2016-12-29 00:00:00',
 '2015-04-03 00:00:00', '2017-06-03 00:00:00', '2016-04-12 00:00:00',
 '2015-01-21 00:00:00']
Length: 1236, dtype: datetime64[ns]
----------------------------------
for feature Ship Date
Number of Nulls is 0
Number of Unique Values 1334
First values of Unique <DatetimeArray>
['2017-11-11 00:00:00', '2017-06-16 00:00:00', '2016-10-18 00:00:00',
 '2015-06-14 00:00:00', '2018-04-20 00:00:00', '2017-12-10 00:00:00',
 '2016-11-26 00:00:00', '2015-11-18 00:00:00', '2015-05-15 00:00:00',
 '2015-09-01 00:00:00',
 ...
 '2018-04-06 00:00:00', '2016-05-13 00:00:00', '2015-08-19 00:00:00',
 '2018-01-20 00:00:00', '2016-03-28 00:00:00', '2017-08-25 00:00:00',
 '2015-01-27 00:00:00', '2016-05-23 00:00:00', '2015-01-23 00:00:00',
 '2018-03-03 00:00:00']
Length: 1334, dtype: datetime64[ns]
----------------------------------
for feature Ship Mode
Number of Nulls is 0
Number of Unique Values 4
First values of Unique ['Second Class' 'Standard Class' 'First Class' 'Same Day']
----------------------------------
for feature Customer ID
Number of Nulls is 0
Number of Unique Values 793
First values of Unique ['CG-12520' 'DV-13045' 'SO-20335' 'BH-11710' 'AA-10480' 'IM-15070'
 'HP-14815' 'PK-19075' 'AG-10270' 'ZD-21925' 'KB-16585' 'SF-20065'
 'EB-13870' 'EH-13945' 'TB-21520' 'MA-17560' 'GH-14485' 'SN-20710'
 'LC-16930' 'RA-19885' 'ES-14080' 'ON-18715' 'PO-18865' 'LH-16900'
 'DP-13000' 'JM-15265' 'TB-21055' 'KM-16720' 'PS-18970' 'BS-11590'
 'KD-16270' 'HM-14980' 'JE-15745' 'KB-16600' 'SC-20770' 'DN-13690'
 'JC-16105' 'CS-12400' 'PG-18895' 'GM-14455' 'JS-15685' 'KB-16315'
 'RB-19705' 'PN-18775' 'KD-16345' 'ER-13855' 'RB-19465' 'GZ-14470'
 'LC-16870' 'JM-15250' 'PA-19060' 'CV-12805' 'CL-12565' 'RC-19960'
 'DK-13090' 'GG-14650' 'SC-20725' 'AD-10180' 'PF-19165' 'TS-21610'
 'LS-16975' 'DW-13585' 'LC-16885' 'JD-15895' 'SH-19975' 'SG-20080'
 'HA-14920' 'MG-17680' 'JE-16165' 'TW-21025' 'SP-20650' 'NK-18490'
 'DB-13060' 'NP-18670' 'TT-21070' 'EM-13960' 'RD-19900' 'MJ-17740'
 'BM-11140' 'CS-12130' 'JB-15400' 'SJ-20500' 'JK-15640' 'DK-13150'
 'RM-19675' 'SK-19990' 'FM-14290' 'AM-10360' 'MP-17470' 'MZ-17515'
 'CB-12025' 'VM-21685' 'FH-14365' 'MB-17305' 'BS-11755' 'LC-17140'
 'HK-14890' 'LE-16810' 'JH-15985' 'MS-17980' 'VW-21775' 'JH-15910'
 'JB-15925' 'DS-13180' 'VD-21670' 'EA-14035' 'DB-13120' 'KL-16645'
 'DW-13480' 'LH-17155' 'KC-16540' 'DL-13315' 'DR-12880' 'CC-12670'
 'Dl-13600' 'SB-20290' 'RC-19825' 'AH-10210' 'CB-12535' 'CA-12310'
 'KH-16690' 'BB-10990' 'AG-10495' 'JO-15280' 'AH-10195' 'NZ-18565'
 'KL-16555' 'AS-10225' 'CR-12625' 'SH-20395' 'BP-11185' 'TS-21205'
 'AG-10525' 'SP-20860' 'NM-18445' 'FA-14230' 'GK-14620' 'DJ-13510'
 'PO-18850' 'JL-15850' 'DB-13615' 'AC-10420' 'CC-12550' 'TD-20995'
 'AB-10060' 'JL-15505' 'VB-21745' 'KW-16435' 'JD-16060' 'MK-17905'
 'GT-14755' 'AG-10900' 'MM-18280' 'AR-10405' 'RA-19915' 'AS-10285'
 'LA-16780' 'DO-13435' 'DK-13225' 'NG-18430' 'MV-18190' 'JG-15115'
 'BP-11095' 'VP-21730' 'SS-20140' 'AG-10675' 'LF-17185' 'RF-19840'
 'KH-16510' 'KC-16675' 'CJ-12010' 'PB-19150' 'MP-17965' 'NF-18385'
 'SD-20485' 'KH-16630' 'RB-19795' 'MK-18160' 'PO-19180' 'BB-11545'
 'TB-21595' 'RB-19360' 'EB-13705' 'SC-20095' 'TN-21040' 'JS-15940'
 'MH-17785' 'JP-15520' 'JE-15475' 'JG-15805' 'XP-21865' 'EM-14065'
 'MT-18070' 'SA-20830' 'CW-11905' 'AJ-10960' 'SS-20590' 'RO-19780'
 'MD-17350' 'MY-17380' 'CM-12385' 'LS-17245' 'BN-11515' 'DB-13210'
 'MC-17605' 'BD-11605' 'PH-18790' 'MG-18145' 'KB-16240' 'JC-15340'
 'RL-19615' 'AA-10375' 'EP-13915' 'DK-12985' 'BD-11500' 'LM-17065'
 'AS-10135' 'BD-11320' 'GT-14710' 'AJ-10945' 'OT-18730' 'LP-17080'
 'CA-12775' 'JF-15490' 'FP-14320' 'EB-13840' 'JF-15415' 'SF-20200'
 'TG-21640' 'CS-11950' 'CC-12145' 'DV-13465' 'BD-11725' 'ZC-21910'
 'MS-17830' 'LR-16915' 'TP-21130' 'CK-12205' 'AS-10240' 'AR-10510'
 'NB-18655' 'GD-14590' 'CK-12595' 'NG-18355' 'CA-12265' 'SF-20965'
 'MO-17800' 'AT-10735' 'FM-14380' 'DJ-13420' 'ME-17725' 'JD-16150'
 'JL-15835' 'SC-20305' 'CC-12430' 'AR-10825' 'SR-20740' 'CR-12730'
 'EH-14125' 'SP-20545' 'TH-21235' 'RP-19390' 'RB-19570' 'CD-11980'
 'DJ-13630' 'GT-14635' 'MC-17845' 'RA-19285' 'NP-18325' 'AB-10165'
 'JO-15550' 'JK-15370' 'BN-11470' 'DP-13165' 'TH-21550' 'AP-10915'
 'RS-19765' 'SV-20365' 'CK-12325' 'RD-19810' 'MR-17545' 'SC-20695'
 'JF-15355' 'EG-13900' 'DS-13030' 'PO-19195' 'SS-20875' 'PB-19105'
 'RF-19735' 'YC-21895' 'DC-13285' 'CP-12340' 'BF-11020' 'LH-17020'
 'CS-12250' 'AJ-10795' 'BV-11245' 'DL-12865' 'BM-11785' 'LT-17110'
 'JK-15730' 'ES-14020' 'RH-19495' 'CD-11920' 'HW-14935' 'MC-18130'
 'GM-14440' 'PJ-19015' 'BW-11110' 'TR-21325' 'PG-18820' 'JL-15175'
 'BM-11650' 'EM-14095' 'AF-10885' 'GA-14725' 'CK-12760' 'DP-13105'
 'BK-11260' 'SJ-20125' 'CM-12445' 'AJ-10780' 'LS-16945' 'GP-14740'
 'PK-18910' 'SM-20005' 'AG-10765' 'PM-19135' 'LL-16840' 'JS-15595'
 'EL-13735' 'PC-18745' 'HL-15040' 'MS-17365' 'GB-14530' 'JR-16210'
 'BE-11335' 'SC-20050' 'RW-19630' 'SE-20110' 'AH-10075' 'JM-15535'
 'JJ-15760' 'RK-19300' 'CG-12040' 'RP-19270' 'KC-16255' 'KH-16360'
 'GH-14665' 'SW-20275' 'JA-15970' 'DL-12925' 'LW-16990' 'TB-21190'
 'BS-11800' 'RW-19690' 'TZ-21580' 'AS-10630' 'TS-21340' 'SL-20155'
 'MW-18235' 'RD-19585' 'RA-19945' 'MT-17815' 'VG-21790' 'JS-15880'
 'KM-16225' 'HR-14770' 'DE-13255' 'AG-10390' 'JJ-15445' 'JH-15430'
 'RD-19660' 'MO-17500' 'NS-18640' 'DG-13300' 'NF-18595' 'MG-17650'
 'TS-21160' 'BD-11620' 'CM-12160' 'SN-20560' 'EH-14005' 'FO-14305'
 'MS-17710' 'CC-12100' 'DW-13540' 'BT-11395' 'CY-12745' 'BT-11485'
 'PS-19045' 'PV-18985' 'NM-18520' 'DL-13495' 'CS-12355' 'FH-14275'
 'NC-18340' 'AA-10315' 'LT-16765' 'AP-10720' 'PM-18940' 'AT-10435'
 'CA-12055' 'HR-14830' 'BT-11530' 'LH-16750' 'SW-20755' 'SP-20620'
 'BF-11170' 'KT-16480' 'BG-11695' 'GM-14680' 'EJ-14155' 'NP-18700'
 'MH-18115' 'JR-15700' 'SM-20950' 'CC-12220' 'PF-19225' 'DC-12850'
 'BD-11770' 'GM-14500' 'TB-21355' 'JH-16180' 'EB-13975' 'QJ-19255'
 'TC-21535' 'CS-12460' 'HG-14965' 'LW-16825' 'MC-17575' 'LP-17095'
 'EB-14170' 'GZ-14545' 'CP-12085' 'FG-14260' 'LD-17005' 'AB-10255'
 'MN-17935' 'JR-15670' 'JF-15190' 'CM-12115' 'AS-10045' 'BP-11290'
 'ND-18370' 'LB-16735' 'KT-16465' 'HM-14860' 'AB-10600' 'SZ-20035'
 'MG-17890' 'JK-16120' 'PP-18955' 'YS-21880' 'KM-16375' 'AB-10105'
 'HA-14905' 'BT-11305' 'SV-20815' 'RW-19540' 'DK-12835' 'ST-20530'
 'MM-17920' 'PW-19030' 'SC-20440' 'TS-21085' 'MC-17425' 'ME-17320'
 'NH-18610' 'MB-18085' 'KD-16495' 'KN-16390' 'NP-18685' 'CS-12505'
 'MS-17770' 'CM-12655' 'Co-12640' 'TS-21370' 'JW-15220' 'JD-15790'
 'PC-19000' 'AR-10540' 'AI-10855' 'TB-21400' 'PL-18925' 'GH-14425'
 'MP-18175' 'JM-15655' 'CL-11890' 'DB-13270' 'IG-15085' 'BO-11425'
 'AB-10150' 'JW-16075' 'EB-13750' 'SG-20470' 'CM-12190' 'AW-10840'
 'MC-18100' 'TT-21460' 'VG-21805' 'MY-18295' 'RD-19480' 'DP-13390'
 'ML-17395' 'JC-15385' 'JG-15160' 'MC-17275' 'NW-18400' 'TB-21280'
 'BS-11380' 'HH-15010' 'CD-12280' 'TH-21100' 'MM-18055' 'NS-18505'
 'RB-19645' 'SW-20455' 'EB-13930' 'PS-18760' 'HF-14995' 'HZ-14950'
 'CD-12790' 'JK-15205' 'FM-14215' 'ED-13885' 'DA-13450' 'JW-15955'
 'RM-19375' 'ML-17755' 'CC-12685' 'JE-15610' 'RP-19855' 'TB-21175'
 'BE-11455' 'JF-15565' 'PB-19210' 'BT-11680' 'JL-15235' 'CH-12070'
 'ND-18460' 'BF-10975' 'KH-16330' 'GW-14605' 'NC-18625' 'ME-18010'
 'BP-11230' 'JC-15775' 'AS-10090' 'AC-10450' 'MD-17860' 'DB-13660'
 'EH-13990' 'EH-13765' 'SC-20230' 'JE-15715' 'AC-10615' 'JD-16015'
 'CB-12415' 'JS-16030' 'LW-17215' 'SC-20800' 'AM-10705' 'RH-19510'
 'CT-11995' 'MC-17590' 'CC-12610' 'KA-16525' 'TC-20980' 'BF-11080'
 'MM-17260' 'AH-10120' 'BW-11200' 'SW-20245' 'BS-11665' 'RF-19345'
 'WB-21850' 'TB-21625' 'AF-10870' 'RB-19435' 'KF-16285' 'JH-15820'
 'IL-15100' 'PB-18805' 'RH-19600' 'AW-10930' 'ML-17410' 'DB-13555'
 'MH-17620' 'DK-13375' 'BT-11440' 'DB-13405' 'TG-21310' 'BF-11005'
 'JM-16195' 'MZ-17335' 'MW-18220' 'MV-17485' 'SM-20320' 'TP-21415'
 'JK-15625' 'PJ-18835' 'RS-19420' 'SV-20935' 'BC-11125' 'EM-13825'
 'BM-11575' 'KN-16705' 'KW-16570' 'SC-20260' 'CV-12295' 'SG-20605'
 'TM-21010' 'EM-13810' 'ML-18040' 'CR-12580' 'AZ-10750' 'PW-19240'
 'SC-20380' 'CM-11935' 'GM-14695' 'TB-21250' 'JM-15865' 'SC-20575'
 'LS-17200' 'RR-19315' 'DB-12910' 'TT-21220' 'LO-17170' 'KD-16615'
 'NB-18580' 'BD-11635' 'CM-12235' 'EN-13780' 'KN-16450' 'BO-11350'
 'AG-10300' 'MC-17635' 'TA-21385' 'JF-15295' 'TT-21265' 'SB-20170'
 'CL-12700' 'HG-15025' 'NL-18310' 'RR-19525' 'TC-21295' 'SV-20785'
 'BE-11410' 'SC-20680' 'DF-13135' 'FH-14350' 'MS-17530' 'RH-19555'
 'GA-14515' 'JP-16135' 'Dp-13240' 'MO-17950' 'DL-13330' 'MH-18025'
 'DR-12940' 'DM-13015' 'CA-11965' 'AC-10660' 'DM-13345' 'VF-21715'
 'CC-12370' 'BF-11275' 'HG-14845' 'BP-11155' 'EM-14140' 'MA-17995'
 'AY-10555' 'GB-14575' 'JB-16045' 'MG-17875' 'SR-20425' 'JB-16000'
 'DM-12955' 'TC-21475' 'SW-20350' 'RE-19450' 'BF-11215' 'KB-16405'
 'JG-15310' 'EC-14050' 'EB-14110' 'JP-15460' 'CS-11845' 'GH-14410'
 'PT-19090' 'JL-15130' 'AH-10030' 'CC-12475' 'DW-13195' 'SJ-20215'
 'BG-11740' 'LB-16795' 'CM-11815' 'EH-14185' 'TS-21505' 'PR-18880'
 'LC-17050' 'CS-12490' 'DH-13075' 'JO-15145' 'AH-10690' 'HJ-14875'
 'MH-17455' 'RD-19930' 'SC-20020' 'SU-20665' 'FC-14335' 'RB-19330'
 'NC-18535' 'DB-12970' 'MF-17665' 'RM-19750' 'VM-21835' 'EJ-13720'
 'NC-18415' 'LS-17230' 'KE-16420' 'DH-13675' 'PF-19120' 'VT-21700'
 'MG-17695' 'SP-20920' 'CS-12175' 'DK-12895' 'KM-16660' 'AA-10645'
 'DD-13570' 'AH-10465' 'TP-21565' 'EK-13795' 'CR-12820' 'SG-20890'
 'AH-10585' 'NF-18475' 'BS-11365' 'SH-20635' 'RD-19720' 'AG-10330'
 'GR-14560' 'VS-21820' 'TM-21490' 'TS-21430' 'DB-13360' 'NR-18550'
 'CS-11860' 'MF-18250' 'LW-17125' 'AR-10345' 'KS-16300' 'AB-10015'
 'LR-17035' 'SS-20410' 'JM-15580' 'JK-15325' 'DM-13525' 'ML-18265'
 'MH-17290' 'FC-14245' 'TH-21115' 'JK-16090' 'SB-20185' 'BG-11035'
 'BW-11065' 'MG-18205' 'DO-13645' 'BP-11050' 'TS-21655' 'EM-14200'
 'AO-10810' 'MH-17440' 'SS-20515' 'LD-16855' 'VP-21760' 'TC-21145'
 'IM-15055' 'AR-10570' 'CM-12715' 'FW-14395' 'LC-16960' 'HE-14800'
 'BD-11560' 'HD-14785' 'CJ-11875' 'RS-19870' 'SC-20845' 'RE-19405'
 'SM-20905']
----------------------------------
for feature Customer Name
Number of Nulls is 0
Number of Unique Values 793
First values of Unique ['Claire Gute' 'Darrin Van Huff' "Sean O'Donnell" 'Brosina Hoffman'
 'Andrew Allen' 'Irene Maddox' 'Harold Pawlan' 'Pete Kriz'
 'Alejandro Grove' 'Zuschuss Donatelli' 'Ken Black' 'Sandra Flanagan'
 'Emily Burns' 'Eric Hoffmann' 'Tracy Blumstein' 'Matt Abelman'
 'Gene Hale' 'Steve Nguyen' 'Linda Cazamias' 'Ruben Ausman' 'Erin Smith'
 'Odella Nelson' "Patrick O'Donnell" 'Lena Hernandez' 'Darren Powers'
 'Janet Molinari' 'Ted Butterfield' 'Kunst Miller' 'Paul Stevenson'
 'Brendan Sweed' 'Karen Daniels' 'Henry MacAllister' 'Joel Eaton'
 'Ken Brennan' 'Stewart Carmichael' 'Duane Noonan' 'Julie Creighton'
 'Christopher Schild' 'Paul Gonzalez' 'Gary Mitchum' 'Jim Sink'
 'Karl Braun' 'Roger Barcio' 'Parhena Norris' 'Katherine Ducich'
 'Elpida Rittenbach' 'Rick Bensley' 'Gary Zandusky' 'Lena Cacioppo'
 'Janet Martin' 'Pete Armstrong' 'Cynthia Voltz' 'Clay Ludtke'
 'Ryan Crowe' 'Dave Kipp' 'Greg Guthrie' 'Steven Cartwright'
 'Alan Dominguez' 'Philip Fox' 'Troy Staebel' 'Lindsay Shagiari'
 'Dorothy Wardle' 'Lena Creighton' 'Jonathan Doherty' 'Sally Hughsby'
 'Sandra Glassco' 'Helen Andreada' 'Maureen Gastineau' 'Justin Ellison'
 'Tamara Willingham' 'Stephanie Phelps' 'Neil Knudson' 'Dave Brooks'
 'Nora Paige' 'Ted Trevino' 'Eric Murdock' 'Ruben Dartt' 'Max Jones'
 'Becky Martin' 'Chad Sievert' 'Jennifer Braxton' 'Shirley Jackson'
 'Jim Kriz' 'David Kendrick' 'Robert Marley' 'Sally Knutson'
 'Frank Merwin' 'Alice McCarthy' 'Mark Packer' 'Mary Zewe'
 'Cassandra Brandow' 'Valerie Mitchum' 'Fred Hopkins' 'Maria Bertelson'
 'Bruce Stewart' 'Logan Currie' 'Heather Kirkland' 'Laurel Elliston'
 'Joseph Holt' 'Michael Stewart' 'Victoria Wilson' 'Jonathan Howell'
 'Joni Blumstein' 'David Smith' 'Valerie Dominguez' 'Erin Ashbrook'
 'David Bremer' 'Ken Lonsdale' 'Dianna Wilson' 'Logan Haushalter'
 'Kelly Collister' 'Delfina Latchford' 'Dan Reichenbach' 'Craig Carreira'
 'Dorris liebe' 'Sean Braxton' 'Roy Collins' 'Alan Hwang'
 'Claudia Bergmann' 'Christine Abelman' 'Kristen Hastings'
 'Barry Blumstein' 'Andrew Gjertsen' "Jas O'Carroll" 'Alan Haines'
 'Nick Zandusky' 'Kelly Lampkin' 'Alan Schoenberger' 'Corey Roper'
 'Shahid Hopkins' 'Ben Peterman' 'Thomas Seio' 'Andy Gerbode' 'Sung Pak'
 'Nathan Mautz' 'Frank Atkinson' 'Grace Kelly' 'Don Jones'
 "Patrick O'Brill" 'John Lucas' 'Doug Bickford' 'Alyssa Crouse'
 'Clay Cheatham' 'Tamara Dahlen' 'Adam Bellavance' 'Jeremy Lonsdale'
 'Victoria Brennan' 'Katrina Willman' 'Julia Dunbar' 'Michael Kennedy'
 'Guy Thornton' 'Arthur Gainer' 'Muhammed MacIntyre' 'Allen Rosenblatt'
 'Russell Applegate' 'Alejandro Savely' 'Laura Armstrong' 'Denny Ordway'
 'Dean Katz' 'Nathan Gelder' 'Mike Vittorini' 'Jack Garza' 'Bart Pistole'
 'Victor Preis' 'Saphhira Shifley' 'Anna Gayman' 'Luke Foster'
 'Roy FranzÃ¶sisch' 'Keith Herrera' 'Kimberly Carter' 'Caroline Jumper'
 'Philip Brown' 'Michael Paige' 'Natalie Fritzler' 'Shirley Daniels'
 'Ken Heidel' 'Ross Baird' 'Mike Kennedy' 'Philisse Overcash'
 'Brenda Bowman' 'Troy Blackwell' 'Raymond Buch' 'Ed Braxton'
 'Sanjit Chand' 'Tanja Norvell' 'Joni Sundaresam' 'Maya Herman'
 'Jeremy Pistek' 'Jeremy Ellison' 'John Grady' 'Xylona Preis' 'Erin Mull'
 'Michelle Tran' 'Sue Ann Reed' 'Carl Weiss' 'Astrea Jones' 'Sonia Sunley'
 "Rose O'Brian" 'Maribeth Dona' 'Maribeth Yedwab' 'Christopher Martinez'
 'Lynn Smith' 'Bradley Nguyen' 'Dean Braden' 'Matt Connell' 'Brian Dahlen'
 'Patricia Hirasaki' 'Mike Gockenbach' 'Karen Bern' 'Jasper Cacioppo'
 'Rob Lucas' 'Allen Armold' 'Emily Phan' 'Darren Koutras'
 'Bradley Drucker' 'Liz MacKendrick' 'Adrian Shami' 'Bill Donatelli'
 'Greg Tran' 'Ashley Jarboe' 'Olvera Toch' 'Liz Pelletier'
 'Cynthia Arntzen' 'Jeremy Farry' 'Frank Preis' 'Ellis Ballard'
 'Jennifer Ferguson' 'Sarah Foster' 'Trudy Glocke' 'Carlos Soltero'
 'Charles Crestani' 'Dianna Vittorini' 'Bruce Degenhardt'
 'Zuschuss Carroll' 'Melanie Seite' 'Lena Radford' 'Theone Pippenger'
 'Chloris Kastensmidt' 'Alan Shonely' 'Andrew Roberts' 'Nona Balk'
 'Giulietta Dortch' 'Clytie Kelty' 'Nat Gilpin' 'Christina Anderson'
 'Sylvia Foulston' "Meg O'Connel" 'Annie Thurman' 'Fred McMath'
 'Denny Joy' 'Max Engle' 'Justin Deggeller' 'John Lee' 'Sean Christensen'
 'Chuck Clark' 'Anthony Rawles' 'Steven Roelle' 'Craig Reiter'
 'Eugene Hildebrand' 'Sibella Parks' 'Tiffany House' 'Resi PÃ¶lking'
 'Rob Beeghly' 'Carol Darley' 'Doug Jacobs' 'Grant Thornton'
 'Michael Chen' 'Ralph Arnett' 'Naresj Patel' 'Alan Barnes' 'Jesus Ocampo'
 'Jay Kimmel' 'Brad Norvell' 'David Philippe' 'Tracy Hopkins'
 'Arthur Prichep' 'Roland Schwarz' 'Seth Vernon' 'Christine Kargatis'
 'Ross DeVincentis' 'Mathew Reese' 'Steve Chapman' 'Jay Fein'
 'Emily Grady' 'Darrin Sayre' 'Phillina Ober' 'Sung Shariari'
 'Peter BÃ¼hler' 'Roland Fjeld' 'Yoseph Carroll' 'Debra Catini'
 'Christine Phan' 'Barry FranzÃ¶sisch' 'Lisa Hazard' 'Chris Selesnick'
 'Anthony Johnson' 'Benjamin Venier' 'Dan Lawera' 'Bryan Mills'
 'Liz Thompson' 'Joe Kamberova' 'Erica Smith' 'Rick Hansen' 'Carlos Daly'
 'Helen Wasserman' 'Mike Caudle' 'Gary McGarr' 'Pauline Johnson'
 'Bart Watters' 'Toby Ritter' 'Patrick Gardner' 'James Lanier'
 'Brian Moss' 'Eudokia Martin' 'Art Foster' 'Guy Armstrong' 'Cyma Kinney'
 'Dave Poirier' 'Berenike Kampe' 'Sanjit Jacobs' 'Chuck Magee'
 'Anthony Jacobs' 'Linda Southworth' 'Guy Phonely' 'Paul Knutson'
 'Sally Matthias' 'Anthony Garverick' 'Peter McVee' 'Lauren Leatherbury'
 'Jill Stevenson' 'Ed Ludwig' 'Pamela Coakley' 'Hunter Lopez'
 'Maribeth Schnelling' 'George Bell' 'Justin Ritter' 'Bill Eplett'
 'Sample Company A' 'Rob Williams' 'Sanjit Engle' 'Adam Hart'
 'Jessica Myrick' 'Joel Jenkins' 'Ralph Kennedy' 'Catherine Glotzbach'
 'Rachel Payne' 'Karen Carlisle' 'Katherine Hughes' 'Greg Hansen'
 'Scott Williamson' 'Joseph Airdo' 'Daniel Lacy' 'Lindsay Williams'
 'Thomas Brumley' 'Bryan Spruell' 'Robert Waldorf' 'Tracy Zic'
 'Ann Steele' 'Toby Swindell' 'Sara Luxemburg' 'Mitch Willingham'
 'Rob Dowd' 'Ryan Akin' 'Meg Tillman' 'Vivek Gonzalez' 'John Stevenson'
 'Kalyca Meade' 'Hallie Redmond' 'Deanra Eno' 'Allen Goldenen'
 'Jennifer Jackson' 'Jennifer Halladay' 'Robert Dilbeck' "Mary O'Rourke"
 'Noel Staavos' 'Deirdre Greer' 'Nicole Fjeld' 'Matthew Grinstein'
 'Theresa Swint' 'Brian DeCherney' 'Charles McCrossin' 'Skye Norling'
 'Erica Hernandez' 'Frank Olsen' 'Maurice Satty' 'Chad Cunningham'
 'Don Weiss' 'Bill Tyler' 'Craig Yedwab' 'Brad Thomas' 'Penelope Sewall'
 'Paul Van Hugh' 'Neoma Murray' 'Dionis Lloyd' 'Christine Sundaresam'
 'Frank Hawley' 'Nat Carroll' 'Alex Avila' 'Larry Tron' 'Anne Pryor'
 'Paul MacIntyre' 'Alyssa Tate' 'Cathy Armstrong' 'Harold Ryan'
 'Bradley Talbott' 'Larry Hughes' 'Steven Ward' 'Stefania Perrino'
 'Ben Ferrer' 'Kean Thornton' 'Brooke Gillingham' 'Greg Matthias'
 'Eva Jacobs' 'Nora Preis' 'Mick Hernandez' 'Jocasta Rupert'
 'Suzanne McNair' 'Chris Cortes' 'Phillip Flathmann' 'Dan Campbell'
 'Bryan Davis' 'Gene McClure' 'Todd Boyes' 'Justin Hirsh' 'Erica Bern'
 'Quincy Jones' 'Tracy Collins' 'Chuck Sachs' 'Henry Goldwyn'
 'Laurel Workman' 'Matt Collins' 'Liz Preis' 'Evan Bailliet'
 'George Zrebassa' 'Cathy Prescott' 'Frank Gastineau' 'Lisa DeCherney'
 'Alejandro Ballentine' 'Michael Nguyen' 'Jim Radford' 'Jamie Frazer'
 'Chad McGuire' 'Aaron Smayling' 'Beth Paige' 'Natalie DeCherney'
 'Larry Blacks' 'Kean Takahito' 'Harry Marie' 'Ann Blume' 'Sam Zeldin'
 'Michael Granlund' 'Julie Kriz' 'Paul Prost' 'Yana Sorensen'
 'Katherine Murray' 'Adrian Barton' 'Helen Abelman' 'Beth Thompson'
 'Stuart Van' 'Rick Wilson' 'Damala Kotsonis' 'Shui Tom' 'Michael Moore'
 'Pauline Webber' 'Shaun Chance' 'Thais Sissman' 'Mark Cousins'
 'Maria Etezadi' 'Nicole Hansen' 'Mick Brown' 'Keith Dawkins'
 'Katherine Nockton' 'Nora Pelletier' 'Cindy Stewart' 'Maxwell Schwartz'
 'Corinna Mitchell' 'Corey-Lock' 'Todd Sumrall' 'Jane Waco' 'John Dryer'
 'Pauline Chand' 'Andy Reiter' 'Arianne Irving' 'Tom Boeckenhauer'
 'Paul Lucas' 'Gary Hwang' 'Mike Pelletier' 'Jim Mitchum' 'Carl Ludwig'
 'Deborah Brumfield' 'Ivan Gibson' 'Bobby Odegard' 'Aimee Bixby'
 'Julia West' 'Edward Becker' 'Sheri Gordon' 'Charlotte Melton'
 'Anthony Witt' 'Mick Crebagga' 'Tonja Turnell' 'Vivek Grady'
 'Muhammed Yedwab' 'Rick Duston' 'Dennis Pardue' 'Marina Lichtenstein'
 'Jenna Caffey' 'James Galang' 'Marc Crier' 'Natalie Webber'
 'Toby Braunhardt' 'Bill Stewart' 'Hilary Holden' 'Christina DeMoss'
 'Thea Hendricks' 'Michelle Moray' 'Neola Schneider' 'Robert Barroso'
 'Shaun Weien' 'Eric Barreto' 'Pamela Stobb' 'Herbert Flentye'
 'Henia Zydlo' 'Cynthia Delaney' 'Jamie Kunitz' 'Filia McAdams'
 'Emily Ducich' 'Dianna Arnett' 'Joni Wasserman' 'Raymond Messe'
 'Max Ludwig' 'Craig Carroll' 'Jim Epp' 'Roy Phan' 'Thomas Boland'
 'Brad Eason' 'Jill Fjeld' 'Phillip Breyer' 'Brian Thompson' 'Janet Lee'
 'Cathy Hwang' 'Neil Ducich' 'Barbara Fisher' 'Katharine Harms'
 'Giulietta Weimer' 'Noah Childs' 'Michelle Ellison' 'Benjamin Patterson'
 'John Castell' 'Adam Shillingsburg' 'Amy Cox' 'Michael Dominguez'
 'Duane Benoit' 'Erica Hackney' 'Edward Hooks' 'Scot Coram' 'Joe Elijah'

In [ ]:
df.to_csv('Edited Sales Dataset.csv', index=False)

## Visualization

**Top Performing Categories**

In [ ]:
# Group by Category and aggregate Sales and Profit
category_stats = df.groupby('Category')[['Sales', 'Profit']].sum().sort_values(by='Sales', ascending=False)

# Plot: Sales (bar chart) + Profit (line chart)
fig, ax1 = plt.subplots(figsize=(10, 6))

# Bar plot for Total Sales
sns.barplot(x=category_stats.index, y=category_stats['Sales'], color='skyblue', ax=ax1)
ax1.set_ylabel('Total Sales', color='skyblue')
ax1.tick_params(axis='y', labelcolor='skyblue')
ax1.set_title('Top Performing Categories: Sales & Profit')

# Line plot for Total Profit on secondary y-axis
ax2 = ax1.twinx()
sns.lineplot(x=category_stats.index, y=category_stats['Profit'], color='darkgreen', marker='o', linewidth=2.5, ax=ax2)
ax2.set_ylabel('Total Profit', color='darkgreen')
ax2.tick_params(axis='y', labelcolor='darkgreen')

# Beautify layout
plt.tight_layout()
plt.show()

**Discount Analysis by Category**

In [ ]:
plt.figure(figsize=(12, 6))
sns.boxplot(data=df, x='Category', y='Discount')
plt.title("Discount Levels Across Categories")

**Top 10 Products by Sales**

In [ ]:
top_products = df.groupby('Product Name')['Sales'].sum().sort_values(ascending=False).head(10)
plt.figure(figsize=(10, 6))
top_products.plot(kind='barh', color='skyblue')
plt.title('Top 10 Products by Sales')
plt.xlabel('Total Sales')
plt.ylabel('Product Name')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

**Region-wise Profitability**

In [ ]:
region_profit = df.groupby('Region')['Profit'].sum().sort_values()
region_profit.plot(kind='bar', title='Total Profit by Region', figsize=(8, 5))

**Best Cities by Sales**

In [ ]:
top_cities = df.groupby('City')['Sales'].sum().sort_values(ascending=False).head(10)

plt.figure(figsize=(10, 6))
sns.barplot(x=top_cities.values, y=top_cities.index, palette='Blues_d')
plt.title('Top 10 Cities by Total Sales')
plt.xlabel('Total Sales')
plt.ylabel('City')
plt.tight_layout()
plt.show()

**Profit vs. Discount Analysis**

In [ ]:
sns.scatterplot(data=df, x='Discount', y='Profit')

**Shipping Performance**

In [ ]:
df['Shipping Duration'].hist()

**Customer Segment Performance**

In [ ]:
segment_sales = df.groupby('Segment')['Sales'].sum()
plt.figure(figsize=(6, 6))
segment_sales.plot(kind='pie', autopct='%1.1f%%', startangle=90, colors=sns.color_palette('pastel'))
plt.title('Sales Share by Customer Segment')
plt.ylabel('')
plt.tight_layout()
plt.show()

**Customer Loyalty - Top Customers by Number of Orders**

In [ ]:
top_customers = df.groupby('Customer Name')['Order ID'].nunique().sort_values(ascending=False).head(10)
plt.figure(figsize=(10, 6))
top_customers.plot(kind='bar', color='purple')
plt.title('ðŸ‘¥ Top 10 Most Loyal Customers (By Number of Orders)')
plt.xlabel('Customer Name')
plt.ylabel('Number of Unique Orders')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**Top Customers by Sales**

In [ ]:
top_customers_sales = df.groupby('Customer Name')['Sales'].sum().sort_values(ascending=False).head(10)
plt.figure(figsize=(10, 6))
sns.barplot(x=top_customers_sales.values, y=top_customers_sales.index, palette='viridis')
plt.title('Top 10 Customers by Total Sales')
plt.xlabel('Total Sales')
plt.ylabel('Customer Name')
plt.tight_layout()
plt.show()

**Time Series of Profit vs. Sales**

In [ ]:
monthly = df.groupby(df['Order Date'].dt.to_period('M'))[['Sales', 'Profit']].sum()
monthly.plot(marker='o', figsize=(12, 6))
plt.title('Monthly Sales vs. Profit')
plt.xlabel('Month')
plt.ylabel('Amount')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
yearly = df.groupby(df['Order_Year'])[['Sales', 'Profit']].sum()
yearly.plot(marker='o', figsize=(12, 6))
plt.title('Yearly Sales vs. Profit')
plt.xlabel('Year')
plt.ylabel('Amount')
plt.grid(True)
plt.xticks(yearly.index)
plt.tight_layout()
plt.show()

**Heatmap of Profit by State**

In [ ]:
state_profit = df.pivot_table(values='Profit', index='State', aggfunc='sum').sort_values(by='Profit', ascending=False)
plt.figure(figsize=(8, 18))
sns.heatmap(state_profit, annot=True, fmt=".0f", cmap="YlGnBu", linewidths=0.5)
plt.title('Profit by State (Heatmap)')
plt.tight_layout()
plt.show()

**Loss-Making Orders (Top 10 most loss-making orders)**

In [ ]:
loss_orders = df[df['Profit'] < 0].sort_values(by='Profit').head(10)
plt.figure(figsize=(10, 6))
sns.barplot(data=loss_orders, x='Order ID', y='Profit', palette='Reds_r')
plt.title('Top 10 Loss-Making Orders')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

**High Discount, Low Profit Cluster**

In [ ]:
high_discount_loss = df[(df['Discount'] > 0.5) & (df['Profit'] < 0)]
plt.figure(figsize=(10, 6))
sns.scatterplot(data=high_discount_loss, x='Discount', y='Profit', hue='Category')
plt.title('âš ï¸ High Discount & Low Profit Items')
plt.xlabel('Discount')
plt.ylabel('Profit')
plt.grid(True)
plt.tight_layout()
plt.show()

**Drop unnecessary columns**

In [ ]:
df.drop(columns=['Row ID','Order ID','Customer ID','Customer Name','Product ID','Product Name','Country','Postal Code', 'Order Date','Ship Date', 'Order Month'], axis=1, inplace=True)

In [ ]:
df.info()

**Encode categorical features**

In [ ]:
label_cols = ['City', 'State', 'Sub-Category']
for col in label_cols:
    df[col] = LabelEncoder().fit_transform(df[col])

df = pd.get_dummies(df, columns=['Ship Mode', 'Segment', 'Region', 'Category'], drop_first=True)

## Split Data

In [ ]:
X = df.drop('Sales', axis=1)
y = df['Sales']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

## Data Scaling

In [ ]:
numeric_cols = [
    'Quantity', 'Discount', 'Profit',
    'Profit_Margin', 'Discounted_Price',
    'Sales_per_Quantity', 'Cumulative_Sales_Customer',
    'Cumulative_Profit_Region',
]

scaler = MinMaxScaler()

X_train[numeric_cols] = scaler.fit_transform(X_train[numeric_cols])

X_test[numeric_cols] = scaler.transform(X_test[numeric_cols])

## ML Models

In [ ]:
# Store model names and R2 scores
model_names = []
train_scores = []
test_scores = []

models = [
    ("Linear Regression", LinearRegression()),
    ("XGBoost", XGBRegressor(verbosity=0)),
    ("Decision Tree", DecisionTreeRegressor()),
    ("Random Forest", RandomForestRegressor()),
    ("KNN", KNeighborsRegressor()),
    ("SVM", SVR())
]

# Fit and evaluate each model
for name, model in models:
    model.fit(X_train, y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    print(f"--- {name} ---")
    print("Training MAE:", (mean_absolute_error(y_train, y_train_pred)))
    print("Testing MAE:", (mean_absolute_error(y_test, y_test_pred)))
    print("Training MSE:", (mean_squared_error(y_train, y_train_pred)))
    print("Testing MSE:", (mean_squared_error(y_test, y_test_pred)))
    print("Training R2:", (r2_score(y_train, y_train_pred)*100))
    print("Testing R2:", (r2_score(y_test, y_test_pred)*100))
    print("="*40)

    model_names.append(name)
    train_scores.append(r2_score(y_train, y_train_pred))
    test_scores.append(r2_score(y_test, y_test_pred))

In [ ]:
# === Polynomial Features for Ridge & Lasso ===
poly = PolynomialFeatures(degree=2, include_bias=False)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)

# === Ridge Regression ===
ridge = Ridge(alpha=1.0)
ridge.fit(X_train_poly, y_train)
y_train_pred_ridge = ridge.predict(X_train_poly)
y_test_pred_ridge = ridge.predict(X_test_poly)

model_names.append("Ridge Regression")
train_scores.append(r2_score(y_train, y_train_pred_ridge))
test_scores.append(r2_score(y_test, y_test_pred_ridge))

print("--- Ridge Regression ---")
print("Training MAE:", mean_absolute_error(y_train, y_train_pred_ridge))
print("Testing MAE:", mean_absolute_error(y_test, y_test_pred_ridge))
print("Training MSE:", mean_squared_error(y_train, y_train_pred_ridge))
print("Testing MSE:", mean_squared_error(y_test, y_test_pred_ridge))
print("Training R2:", r2_score(y_train, y_train_pred_ridge))
print("Testing R2:", r2_score(y_test, y_test_pred_ridge))
print("="*40)

# === Lasso Regression ===
lasso = Lasso(alpha=0.001, max_iter=10000)
lasso.fit(X_train_poly, y_train)
y_train_pred_lasso = lasso.predict(X_train_poly)
y_test_pred_lasso = lasso.predict(X_test_poly)

model_names.append("Lasso Regression")
train_scores.append(r2_score(y_train, y_train_pred_lasso))
test_scores.append(r2_score(y_test, y_test_pred_lasso))

print("--- Lasso Regression ---")
print("Training MAE:", mean_absolute_error(y_train, y_train_pred_lasso))
print("Testing MAE:", mean_absolute_error(y_test, y_test_pred_lasso))
print("Training MSE:", mean_squared_error(y_train, y_train_pred_lasso))
print("Testing MSE:", mean_squared_error(y_test, y_test_pred_lasso))
print("Training R2:", r2_score(y_train, y_train_pred_lasso))
print("Testing R2:", r2_score(y_test, y_test_pred_lasso))
print("="*40)

In [ ]:
x = range(len(model_names))
plt.figure(figsize=(12, 6))
plt.bar(x, train_scores, width=0.4, label='Train RÂ²', align='center', color='skyblue')
plt.bar([p + 0.4 for p in x], test_scores, width=0.4, label='Test RÂ²', align='center', color='orange')
plt.xticks([p + 0.2 for p in x], model_names, rotation=45)
plt.title('Train vs Test RÂ² Scores for Regression Models')
plt.ylabel('RÂ² Score')
plt.legend()
plt.tight_layout()
plt.grid(axis='y', linestyle='--', alpha=0.6)
plt.show()